{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'main/login.css' %}">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <div class="auth-container">
        <div class="auth-title">Restablecer Contraseña</div>
        <form class="auth-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="auth-btn" type="submit">Establecer Nueva Contraseña</button>
        </form>
        <div style="margin-top: 1rem;">
            <a class="auth-link" href="{% url 'login' %}">Volver al inicio de sesión</a>
        </div>
    </div>
</body>
</html>
